<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day 56</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>
    <div class="main-container">
        <div class="card-container">
            <h1 class="card-name">John Suico</h1>
            <h2 class="card-subtitle">Full Stack Web Developer</h2>
            <div class="button-container">
                <div class="fake-button"></div>
                <div class="fake-button"></div>
                <div class="fake-button"></div>
            </div>
        </div>
    </div>
</body>
</html>